html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  word-break: break-all;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* doc
---
title: button
---

```
<a class="button"></a>
```
*/
.button {
  background: #fff;
}

.u-mt0 {
  margin-top: 0px !important;
}

.u-mt4 {
  margin-top: 4px !important;
}

.u-mt8 {
  margin-top: 8px !important;
}

.u-mt12 {
  margin-top: 12px !important;
}

.u-mt16 {
  margin-top: 16px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt24 {
  margin-top: 24px !important;
}

.u-mt28 {
  margin-top: 28px !important;
}

.u-mt32 {
  margin-top: 32px !important;
}

.u-mt36 {
  margin-top: 36px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mr0 {
  margin-right: 0px !important;
}

.u-mr4 {
  margin-right: 4px !important;
}

.u-mr8 {
  margin-right: 8px !important;
}

.u-mr12 {
  margin-right: 12px !important;
}

.u-mr16 {
  margin-right: 16px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mr24 {
  margin-right: 24px !important;
}

.u-mr28 {
  margin-right: 28px !important;
}

.u-mr32 {
  margin-right: 32px !important;
}

.u-mr36 {
  margin-right: 36px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mb0 {
  margin-bottom: 0px !important;
}

.u-mb4 {
  margin-bottom: 4px !important;
}

.u-mb8 {
  margin-bottom: 8px !important;
}

.u-mb12 {
  margin-bottom: 12px !important;
}

.u-mb16 {
  margin-bottom: 16px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb24 {
  margin-bottom: 24px !important;
}

.u-mb28 {
  margin-bottom: 28px !important;
}

.u-mb32 {
  margin-bottom: 32px !important;
}

.u-mb36 {
  margin-bottom: 36px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-ml0 {
  margin-left: 0px !important;
}

.u-ml4 {
  margin-left: 4px !important;
}

.u-ml8 {
  margin-left: 8px !important;
}

.u-ml12 {
  margin-left: 12px !important;
}

.u-ml16 {
  margin-left: 16px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-ml24 {
  margin-left: 24px !important;
}

.u-ml28 {
  margin-left: 28px !important;
}

.u-ml32 {
  margin-left: 32px !important;
}

.u-ml36 {
  margin-left: 36px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-mt0 {
  padding-top: 0px !important;
}

.u-mt4 {
  padding-top: 4px !important;
}

.u-mt8 {
  padding-top: 8px !important;
}

.u-mt12 {
  padding-top: 12px !important;
}

.u-mt16 {
  padding-top: 16px !important;
}

.u-mt20 {
  padding-top: 20px !important;
}

.u-mt24 {
  padding-top: 24px !important;
}

.u-mt28 {
  padding-top: 28px !important;
}

.u-mt32 {
  padding-top: 32px !important;
}

.u-mt36 {
  padding-top: 36px !important;
}

.u-mt40 {
  padding-top: 40px !important;
}

.u-mr0 {
  padding-right: 0px !important;
}

.u-mr4 {
  padding-right: 4px !important;
}

.u-mr8 {
  padding-right: 8px !important;
}

.u-mr12 {
  padding-right: 12px !important;
}

.u-mr16 {
  padding-right: 16px !important;
}

.u-mr20 {
  padding-right: 20px !important;
}

.u-mr24 {
  padding-right: 24px !important;
}

.u-mr28 {
  padding-right: 28px !important;
}

.u-mr32 {
  padding-right: 32px !important;
}

.u-mr36 {
  padding-right: 36px !important;
}

.u-mr40 {
  padding-right: 40px !important;
}

.u-mb0 {
  padding-bottom: 0px !important;
}

.u-mb4 {
  padding-bottom: 4px !important;
}

.u-mb8 {
  padding-bottom: 8px !important;
}

.u-mb12 {
  padding-bottom: 12px !important;
}

.u-mb16 {
  padding-bottom: 16px !important;
}

.u-mb20 {
  padding-bottom: 20px !important;
}

.u-mb24 {
  padding-bottom: 24px !important;
}

.u-mb28 {
  padding-bottom: 28px !important;
}

.u-mb32 {
  padding-bottom: 32px !important;
}

.u-mb36 {
  padding-bottom: 36px !important;
}

.u-mb40 {
  padding-bottom: 40px !important;
}

.u-ml0 {
  padding-left: 0px !important;
}

.u-ml4 {
  padding-left: 4px !important;
}

.u-ml8 {
  padding-left: 8px !important;
}

.u-ml12 {
  padding-left: 12px !important;
}

.u-ml16 {
  padding-left: 16px !important;
}

.u-ml20 {
  padding-left: 20px !important;
}

.u-ml24 {
  padding-left: 24px !important;
}

.u-ml28 {
  padding-left: 28px !important;
}

.u-ml32 {
  padding-left: 32px !important;
}

.u-ml36 {
  padding-left: 36px !important;
}

.u-ml40 {
  padding-left: 40px !important;
}/*# sourceMappingURL=style.css.map */